#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.App{
  height: 100%;
  background-color: gray;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center ;
  align-items: center;
  text-align: center;
  flex-direction: column;

}

.card{
  background-color: azure;
  width:40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 2%;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.5);
}

.heading{
  display: flex;
  align-items: center;
  height: 580px;

}

.botao{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 200px;
  width: 200px;
  opacity: 1;
  background-color: white;
  border: 1px solid red;
  padding:2%;
  box-shadow: 1px 1px 2px black;



}

.botao:hover{
  background-color: red;
  transform: scale(1.05);
  transition: 0.2s ease all;
  box-shadow: 1px 3px 10px black;
  font-weight: bold;
}